#container
{
	width:1275px;
	margin:0 auto;
	top: 100px;
}
body
{
	background-color: rgb(154, 108, 155);
	
}

.description
{
	display:none;
	background-color: rgb(223, 207, 207);
	text-align: center;
}